.directory-menu{
    display: flex;
    flex-wrap: wrap;
    
    
}

.homepage{
    
    text-align: center;
}
.title{
    font-weight: bold;
    font-size: 25px;
}
.content{
    border: 2px solid gray;
    padding: 20px;
}